body { 
  padding: 0px;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif; 
  margin-top: 46px;
  margin-bottom: 32px;
  background-image:url('./images/layeredBkg.jpg'); 
  background-repeat:no-repeat; 
  background-position: center top; 
  background-attachment:fixed;
  -webkit-text-size-adjust: 100%;
}
#content {
  /* background-color: F8FCFD; */
  background-color: #FFFFFF; 
  margin-left: auto;
  padding-top: 4px;
  padding-bottom: 15px;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;

  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow: 3px 3px 2px #A73f37;
/*
  border: solid 1px #000;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
*/
}
p {
}
h1 { 
   font-size: 26px; 
   margin: 1em 0px 0.5em; 
   padding-top: 4px; 
   border-top: 1px dotted #d5d5d5; 
}
h2 { 
   padding: 0px;
   padding-bottom: 3px;
   font-size: 1.2em;
   margin: 1.8em 0 0.5em;
}

.highlight {
   background-color: #D8D8DF;
   padding: 2px;
   font-size: 16px;
}

.code, code {
   width: 100%;
}

.code, code, .qcode {
   color: #000; 
   border: 1px solid #000047;
   padding: 6px;
   display: block;
   margin-top: 2px;
   /* background-color: #EDF5FD; */
   background-color: #F5FAFF;
   max-height: 50em;
   max-width: 600px;

   overflow:auto;
}

.qcode {
   width: auto;
}

.code p {
   margin: 0px;
}

.filename {
   margin-top: 10px;
   position: relative;
   font-size: 0.9em; 
   font-family: monospace; font-size: 0.9em;
}

.member {
   color: #570057;
   font-weight: bold;
}

.keyword {
   color: #000557;
   font-weight: bold;
}

.string {
   color: #003000;
}

.templateString {
   color: #003535;
}

.comment {
   color: #222;
}

.tagBox {
   width: 570px;
   float: left;
   height: 190px;
   padding-left: 10px;
   padding-right: 10px;
   margin-bottom: 8px;
}

.tagline {
   margin-top: 20px;
   font-size: 28px; 
   margin-bottom: 2px;
}

.taglineTwo {
   font-size: 18px; 
   margin-bottom: 10px;
   font-weight: bold;
}

.intro {
   font-size: 18px;
}


.videoLink {
   font-size: 16px;
}
.tagGraphic {
   margin-top: 0px;
   float:right;
   margin-right: 13px;
   width: 268px;
}

.infoBoxTitle {
   font-size: 18px;
   font-weight: bold;
   margin-top: 8px;
   margin-bottom: 4px;
}

.infoBox {
   background-color: #FFFFFF; 
   background:radial-gradient(#FFFFFF,#CACACA 300%);
   cursor: pointer;
   padding-left: 12px;
   padding-right: 10px;
   padding-bottom: 5px;
   margin-right: 8px;
   margin-top: 8px;
   margin-bottom: 8px;
   width: 268px;
   float:left;
   box-shadow: 3px 3px 2px #A73f37;
   border: 1px solid #370d05;
   height: 90px;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   font-size: 14px;
}

.infoBox:hover {
  /* background-color: #c3eaea; */
  background-color: #BEDCFA;
  background:radial-gradient(#BEDCFA,#3B7BBB 300%);
}

.infoBoxSelected {
   background-color: #7CB0F1;
   background:radial-gradient(#7CB0F1,#3B7BBB 300%);
}

.infoBoxSelected:hover {
   background-color: #7CB0F1;
   background:radial-gradient(#7CB0F1,#3B7BBB 300%);
}

.detailBox ul {
   margin-top: 0px;
}

.detailBox, .defaultDetailBox {
   margin-top:10px;
}

.newRow {
   clear:both;
}

#title { 
   text-decoration:none; 
   /* color: #134783;  */
   /* border-bottom: 0px;  */
   margin-left: 0px;
}

.logo a {
   text-decoration:none; 
   display:inline;
   font-size: 32px;
   color: #0F1F99;
}

.logo a:visited {
   color: #0F1F99;
}

.mainContent {
   width: 865px;
}

.defaultDetailBox {
   width: 873px;
}

#content {
   width: 900px;
}

.videoBox {
   width: 866px;
}

.mainContent h3, .mainContent h4 {
   margin-bottom: -5px;
}

.navbar {
   background-color: #FFFFFF;
   background:radial-gradient(#FFFFFF,#CACACA 300%);
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 4px;
   padding-top: 4px;

   width: 865px;
   margin-left: 0px;
   margin-right: auto;

/*
   border-top: 5px solid #000047;
   border-bottom: 5px solid #000047;
   background-color: #000047;
   margin-top: 0px;
   margin-bottom: 2px;
   margin-right: auto;
   color: #134783;
*/
   text-decoration:none;
   font-size: 16px;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   box-shadow: 3px 3px 2px #A73f37;
}

.nav {
   display:inline;
   list-style:none;
   /* width:600px; */
}

.nav a {
   text-decoration:none;
   padding-left: 24px;
   padding-right:  24px;
   padding-top: 12px;
   padding-bottom: 12px;
   vertical-align: 5px;
   color: #000;
}

.nav li {
   display:inline;
}

.nav a:hover, .nav a.active {
    color: #000;
        /* background-color: #EDF5FD; */
        /* background-color: #c3eaea; */
        background-color: #BEDCFA;
}
.nav a.active {
    font-weight: bold;
    }

.layer1 {
   background-color: #F4C9A4; 
}

.layer2 {
  background-color: #E27C58;
}

.layer3 {
  background-color: #C84632;
}

.layer4 {
  background-color: #A73F37;
}

.layer5 {
  background-color: #510602;
}

.layer6 {
  background-color: #370D0F;
  color: #FFFFFF;
}

.layeredBkg {
   background-image: url('images/stratacodelogobkgtiny3.jpg');
   background-repeat: repeat-x;
   padding-left: 0px;
   background-position: left center;
}

.layerHeader {
   width: 325px;
   padding: 12px;
 }


.mainFlipCell {
  width: 900px;
  height: 500px
}

.innerFlipCell {
  width: 600px;
  height: 500px;
}

.nextul {
  list-style: none; 
  padding-left: 0px;
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
  display:inline;
}

.nextul li {
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  width:17px; 
  height:17px;  
}

#mainpager { 
  list-style: none; 
  padding-left: 0px;
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
}
#mainpager li {
  background-image: url('images/unselected.png'); 
  width:17px; 
  height:17px;  
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  padding-right: 17px;
}
#mainpager li.activeSlide { 
  background-image: url('images/selected.png') 
}

.innerPager {
   position: relative; 
   left:500px; 
   top:480px; 
   z-index:1000;
   display: inline;
}

.innerPager ul {
  list-style: none; 
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  z-index:1000;
  display: inline;
}

.innerPagerLi {
  background-image: url('images/unselected.png'); 
  padding-right: 17px;
  width:17px; 
  height:17px;  
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  z-index:1000
}

.innerPager li.activeSlide {
  background-image: url('images/selected.png'); 
}

.openArrow {
   width:0px; 
   height:0px; 
   border-left: 18px solid transparent; 
   border-right: 18px solid transparent; 
   border-bottom: 14px solid #9EBDDB;
   position:absolute; left:128px; top: -19px;
}

.exampleIndex, .pageIndex {
   float: left;
   width: 220px;
}

/* List entries */
.exampleIndex, .pageIndexEntry, .exampleIndexEntry, .videoBox {
   margin-bottom: 8px;
}

.pageIndexEntry:hover {
   background-color: #BEDCFA;
}

.exampleIndexEntry a, .videoBox a, .pageIndexEntry a {
  text-decoration: none; 
}

.detailBox {
  /* background-color: #c3eaea; */
  background-color: #BEDCFA;
  border: 1px solid #370d05;
  background:radial-gradient(#BEDCFA,#3B7BBB 300%);
  width: 871px;
}

#exampleContent, .mainContent, #pageContent, .pageIndexEntry, .exampleIndexEntry, .defaultDetailBox, .tagGraphic, .tagBox, .videoBox {
   background-color: #fff;
   background:radial-gradient(#FFFFFF,#CACACA 300%);
}

.pageIndexSelected, .exampleIndexSelected {
   background-color: #7CB0F1;
   background:radial-gradient(#7CB0F1,#CACACA 300%);
}

/* Floating boxes on the background */
#exampleContent, .mainContent, #pageContent, .pageIndexEntry, .exampleIndexEntry, .detailBox, .defaultDetailBox, .tagGraphic, .tagBox, .videoBox {
   padding-top: 8px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 8px;

   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   box-shadow: 3px 3px 2px #A73F37;
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#A73F37')";
}


#exampleContent, #pageContent {
   margin-left: 232px;
   width: 634px;
   min-height: 30%;
}


.videoTitle, .exampleIndexTitle, .exampleTitle, .pageTitle {
   font-size: 18px;
   padding-bottom: 3px;
}

.introBox, .videoTitle {
   margin-left: 130px;
}


.capsule {
  float: left;
  background: #FFFFFF;
  margin: 5px;
  margin-left: 16px;
  border: 1px solid #000;
  border-radius: 6px;

  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow: 2px 2px 2px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#A73F37')";
  -webkit-transition: width 0.1s, height 0.3s;
  transition: width 0.1s, height 0.3s;
}

.capsuleExpanded {
   width: 615px;
   height: 360px;
}

.capsuleSmall {
   width: 182px;
   height: 182px;
}

.capsule:hover {
   border-color: #424894;
}


.capsuleTitle {
   positition: relative;
   background: #B2BAF7;
   width:auto;
   font-weight:bold;
   font-size:15px;
   color:#444;
   border-radius: 2px;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 3px;
}

.capsuleMenu {
   width: 170px;
   float: left;
}

.capsuleMenu ul {
   list-style: none;
   padding-left: 5px;
}

.capsuleContent {
   overflow: hidden;
   width: 410px;
   padding-top: 8px;
   margin-left: 190px;
}

.capsuleMenuItemSelected {
   background-color: #7CB0F1;
}

.capsuleMenuItem {
   width: 160px;
   cursor: pointer;
   margin-bottom: 8px;
   padding-top: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-bottom: 4px;

   border: solid 1px #000;
   border-top-left-radius:2px;
   border-top-right-radius:2px;
   border-bottom-left-radius:2px;
   border-bottom-right-radius:2px;
   box-shadow: 1px 1px 1px #000;
}

.capsuleMenuItem:hover {
   background-color: #BEDCFA;
}

.capsuleContentTitle {
   font-weight: bold;
   font-size: 1.2em;
   color: #0F1F99;
   margin-left: 140px;
}

.closeCapsule {
   padding-left: 3px;
   padding-right: 3px;
   cursor: pointer;
}

.closeCapsule:hover {
   color: #0F1F99;
}

#docOverview {
   height: 398px;
}
